[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
pillow = "*"
psycopg2 = "*"
dj-rest-auth = "*"
django-filter = "*"
django-cors-headers = "*"
django-allauth = "*"

[dev-packages]

[requires]
python_version = "3.10"
